# Application
APP_HOSTNAME=hmlapi-modelo.pmvc.ba.gov.br
NODE_ENV=development
APP_VERSION=1.0.0
HTTP_PORT=3006

# Elasticsearch
ELASTICSEARCH=http://192.168.10.121:9200
APP_NAME=servihub-backend-vini
ELASTICSEARCH_ACTIVE=false

# Authentication
JWT_SECRET=modelo-back-end
JWT_EXPIRE=86400s

# DataBase
DATABASE_URL="postgres://username:password@host:port/database?schema=public"

# Security
SSL=false
